<a href="https://colab.research.google.com/github/Dimasilham7/Dicoding-latihan/blob/main/Latihan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
os.listdir('sample_data')

['anscombe.json',
 'README.md',
 'california_housing_test.csv',
 'mnist_train_small.csv',
 'mnist_test.csv',
 'california_housing_train.csv']

In [3]:
import pandas as pd
df = pd.read_csv('sample_data/california_housing_train.csv')
df.head(20)

    longitude  latitude  ...  median_income  median_house_value
0     -114.31     34.19  ...         1.4936             66900.0
1     -114.47     34.40  ...         1.8200             80100.0
2     -114.56     33.69  ...         1.6509             85700.0
3     -114.57     33.64  ...         3.1917             73400.0
4     -114.57     33.57  ...         1.9250             65500.0
5     -114.58     33.63  ...         3.3438             74000.0
6     -114.58     33.61  ...         2.6768             82400.0
7     -114.59     34.83  ...         1.7083             48500.0
8     -114.59     33.61  ...         2.1782             58400.0
9     -114.60     34.83  ...         2.1908             48100.0
10    -114.60     33.62  ...         2.6797             86500.0
11    -114.60     33.60  ...         1.6250             62000.0
12    -114.61     34.84  ...         2.1571             48600.0
13    -114.61     34.83  ...         3.2120             70400.0
14    -114.63     32.76  ...         0.8585             45000.0
15    -114.65     34.89  ...         1.6991             69100.0
16    -114.65     33.60  ...         2.9653             94900.0
17    -114.65     32.79  ...         0.8571             25000.0
18    -114.66     32.74  ...         1.2049             44000.0
19    -114.67     33.92  ...         1.2656             27500.0

[20 rows x 9 columns]

In [5]:
from sklearn.preprocessing import MinMaxScaler
data = [[12000000, 33], [35000000, 45], [4000000, 23], [6500000, 26], [9000000, 29]]

In [7]:
scaler = MinMaxScaler()
scaler.fit(data)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [8]:
print(scaler.transform(data))

[[0.25806452 0.45454545]
 [1.         1.        ]
 [0.         0.        ]
 [0.08064516 0.13636364]
 [0.16129032 0.27272727]]

In [9]:
from sklearn import preprocessing
data = [[12000000, 33], [35000000, 45], [4000000, 23], [6500000, 26], [9000000, 29]]

In [10]:
scaler = preprocessing.StandardScaler().fit(data)

In [11]:
data = scaler.transform(data)
data

array([[-0.11638732,  0.23521877],
       [ 1.94277296,  1.80334389],
       [-0.83261698, -1.07155217],
       [-0.60879521, -0.67952089],
       [-0.38497344, -0.28748961]])

In [17]:
    from sklearn.model_selection import train_test_split
     
    X_data = range(20)
    y_data = range(20)
     
    print("random_state ditentukan")
    for i in range(3):
        X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size = 0.3, random_state = 42)
        print(y_test)
     
     
    print("random_state tidak ditentukan")
    for i in range(3):
        X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size = 0.3, random_state = None)
        print(y_test)

random_state ditentukan
[0, 17, 15, 1, 8, 5]
[0, 17, 15, 1, 8, 5]
[0, 17, 15, 1, 8, 5]
random_state tidak ditentukan
[0, 12, 8, 11, 16, 17]
[9, 19, 6, 14, 1, 4]
[6, 12, 9, 5, 17, 13]

In [18]:
    import sklearn
    from sklearn import datasets

In [19]:
    # load iris dataset
    iris = datasets.load_iris()

In [20]:
    # pisahkan atribut dan label pada iris dataset
    x=iris.data
    y=iris.target

In [33]:
    from sklearn.model_selection import train_test_split
     
    # membagi dataset menjadi training dan testing 
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.4)

In [34]:
    # menghitung panjang/jumlah data pada x_test
    len(x_test)

60

In [35]:
    # menghitung panjang/jumlah data pada x_test
    len(x_train)

90

In [36]:
    # menghitung panjang/jumlah data pada x_test
    len(y_test)

60

In [37]:
    # menghitung panjang/jumlah data pada x_test
    len(y_train)

90

In [38]:
    import sklearn
    from sklearn import datasets
     
    # Load iris dataset
    iris = datasets.load_iris()

In [39]:
    # mendefinisikan atribut dan label pada dataset
    x=iris.data
    y=iris.target

In [40]:
    from sklearn import tree
     
    # membuat model dengan decision tree ckassifier
    clf = tree.DecisionTreeClassifier()

In [41]:
    from sklearn.model_selection import cross_val_score
     
    # mengevaluasi performa model dengan cross_val_score
    scores = cross_val_score(clf, x, y, cv=5)

In [43]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [62]:
%cd /content/gdrive/My Drive

[Errno 2] No such file or directory: '/content/gdrive/My Drive'
/content

In [44]:
drive_link = '/content/drive/My Drive/'
my_link = drive_link+'Latihan/'

In [45]:
DATA_DIR = my_link+'dataset iris/'

# load repo with data if it is not exists
if not os.path.exists(DATA_DIR):
  print('Dataset not exist...')
else:
  print('Dataset Exist...')

Dataset Exist...

In [49]:
    import pandas as pd
    from sklearn.datasets import load_iris
     
    # Membaca file iris.csv
    iris = pd.read_csv('/content/drive/My Drive/Latihan/dataset iris/iris.csv')

In [50]:
    # melihat informasi dataset pada 5 baris pertama
    iris.head(10)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa
8           4.4          2.9           1.4          0.2  Setosa
9           4.9          3.1           1.5          0.1  Setosa

In [54]:
    # memisahkan atribut dan label
    X = iris[['sepal.length', 'sepal.width', 'petal.length', 'petal.width' ]]
    y = iris['variety']

In [55]:
    from sklearn.tree import DecisionTreeClassifier
     
    # membuat model Decision Tree
    tree_model = DecisionTreeClassifier() 
     
    # melakukan pelatihan model terhadap data
    tree_model.fit(X, y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [56]:
    # prediksi model dengan tree_model.predict([[SepalLength, SepalWidth, PetalLength, PetalWidth]])
    tree_model.predict([[6.2, 3.4, 5.4, 2.3]])

array(['Virginica'], dtype=object)

In [59]:
    #konversi decision tree ke dot file
    from sklearn.tree import export_graphviz
    export_graphviz(
        tree_model,
        out_file = "iris_tree.dot",
        feature_names = ['sepal.length', 'sepal.width', 'petal.length', 'petal.width'],
        class_names = ['Setosa', 'Versicolor', 'Virginica' ],
        rounded= True,
        filled =True
    )

In [60]:
    import numpy as np
     
    #buat data jumlah kamar
    bedrooms = np.array([1,1,2,2,3,4,4,5,5,5])
     
    #data harga rumah. asumsi dalam dollar
    house_price = np.array([15000, 18000, 27000, 34000, 50000, 68000, 65000, 81000,85000, 90000])